@{
    ViewData["Title"] = "Access Denied";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div b-epll97odli="" class="container">
    <main b-epll97odli="" role="main" class="pb-3">
        <header>
            <h1 class="text-danger">Access denied</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </header>
    </main>
</div>
</body>
</html>